*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 705px;
    background: linear-gradient(blue, 10%, rgb(255, 139, 89));
    }

.card{
    width: 90%;
    max-width: 700px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.4), 
        rgba(84, 79, 84, 0.1)    
    );
    color: linear-gradient(rgba(255,255,255));
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 50px 35px;
    text-align: center;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0; 
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 250px;
    height: 250px;
    margin-top: 0px;
}
.weather h1{
    font-size: 70px;
    font-weight: 300;   
    margin-top: -20px;
}
.weather h2{
    font-size: 36px;
    font-weight: 200;
    margin-top: -5px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 21px;
    margin-top: -3px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 20px;
    display: none;
}